.AddNote {
    width: 98%;
    border: 1px solid grey;
    margin: 0 0 2px 0;
    padding-top: 1rem;
    cursor: pointer;
    min-height: 80px;
}
.AddNote__Title {
    width: 78%;
    padding: 0.3rem;
    border: 1px solid blue;
    margin-bottom: 1rem;
}
.AddNote__Content {
    width: 78%;
    padding: 0.3rem;
    border: 1px solid blue;
    margin-bottom: 1rem;
}
.AddNote__Save {
    display: block;
    margin: 0 auto 1rem auto;
}