.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
header {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

}
.NotesArea {
  grid-row-start: 2;
  grid-column: 1/-1;
  display: grid;
}
.NotesList {
  grid-column: 1/2;
}
.Note {
  grid-column: 2/2;
}
.DeleteNote {
  background: red;
}
.active {
  box-shadow: 2px 2px 2px #000;
}
.red {
  color: red;
}

.bold {
  font-weight: bold;
}