.App {
  text-align: center;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
}
.active {
  /* box-shadow: 2px 2px 2px #000; */
  box-shadow: red 0px 0px 5px;
}
.red {
  color: red;
}

.bold {
  font-weight: bold;
}